{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
			height: 100vh;
			display: flex;
			flex-direction: column;
		}

		h1 {
			text-align: center;
			margin-top: 20px;
		}

		#pano {
			flex: 1;
			position: relative;
			z-index: 1;
		}

		#map {
			width: 200px;
			height: 200px;
			position: absolute;
			bottom: 20px;
			right: 20px;
			transition: all 0.3s ease;
			z-index: 2;
		}

		#map:hover {
			width: 400px;
			height: 400px;
		}

		#guessForm {
			text-align: center;
			margin-top: 20px;
		}

		button {
			padding: 10px 20px;
			font-size: 16px;
			background-color: #4CAF50;
			color: white;
			border: none;
			cursor: pointer;
		}

		button:hover {
			background-color: #45a049;
		}

		div[jstcache="0"][style="position: absolute; left: 0px; top: 0px;"],
		div[style="display: inline-flex; position: absolute; right: 0px; bottom: 0px;"],
		img[alt="Google"] {
			display: none !important;
		}
	</style>
{% endblock %}


{% block body %}
	<h1>GeoGuesser</h1>

	<div id="pano"></div>
	<div id="map"></div>

	<form id="guessForm" action="{{ path('game_check_answer') }}" method="post">
		<input type="hidden" name="cityId" value="{{ city.id }}">
		<input type="hidden" name="latitude" id="guessLatitude">
		<input type="hidden" name="longitude" id="guessLongitude">
		<button type="submit">Soumettre</button>
	</form>
{% endblock %}

{% block javascripts %}
	<script src="https://maps.googleapis.com/maps/api/js?key={{ app.request.server.get('GOOGLE_MAPS_API_KEY') }}&callback=initMap" async defer></script>
	<script>
		var marker;
function initMap() {
var cityLatitude = {{ city.latitude }};
var cityLongitude = {{ city.longitude }};

var map = new google.maps.Map(document.getElementById('map'), {
center: {
lat: 27.26811,
lng: 130.01776
},
zoom: 2,
styles: [
{
featureType: 'road',
elementType: 'labels',
stylers: [
{
visibility: 'off'
}
]
}, {
featureType: 'poi',
elementType: 'labels',
stylers: [
{
visibility: 'off'
}
]
}
]
});

var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), {
position: {
lat: cityLatitude,
lng: cityLongitude
},
pov: {
heading: 34,
pitch: 10
},
addressControl: false,
fullscreenControl: false,
motionTracking: false,
motionTrackingControl: false,
showRoadLabels: false,
panControl: false,
zoomControl: true
});

map.addListener('click', function (event) {
var guessedLatitude = event.latLng.lat();
var guessedLongitude = event.latLng.lng();

document.getElementById('guessLatitude').value = guessedLatitude;
document.getElementById('guessLongitude').value = guessedLongitude;

// Supprimer le marqueur précédent s'il existe
if (marker) {
marker.setMap(null);
}

// Ajouter un nouveau marqueur à l'emplacement cliqué
marker = new google.maps.Marker({position: event.latLng, map: map});
});
}
	</script>
{% endblock %}

