{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block stylesheets %}
	<style>
		body {
			background-color: #000;
		}
		.card {
			background-color: #314d4b;
			color: #f4edc7;
		}
		.btn-primary {
			background-color: #9e4f31;
			border-color: #9e4f31;
		}
		.btn-primary:hover {
			background-color: #c68d50;
			border-color: #c68d50;
		}
		.form-control:focus {
			border-color: #7aaaa2;
			box-shadow: 0 0 0 0.2rem rgba(122, 170, 162, 0.25);
		}
		.form-check-input:checked {
			background-color: #9e4f31;
			border-color: #9e4f31;
		}
	</style>
{% endblock %}

{% block body %}
	<section class="vh-100">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-lg-12 col-xl-11">
					<div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-0">
							<div class="row justify-content-center">
								<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 d-flex align-items-center">

									<div class="mx-1 mx-md-4 w-100">
										<p class="text-center h1 fw-bold mb-5">Se connecter</p>

										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}

										{% if app.user %}
											<div class="mb-3">
												You are logged in as
												{{ app.user.userIdentifier }},
												<a href="{{ path('app_logout') }}">Logout</a>
											</div>
										{% endif %}

										<form method="post">
											<div class="d-flex flex-row align-items-center mb-4">
												<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
												<div class="form-outline flex-fill mb-0">
													<label class="form-label" for="inputEmail">Adresse e-mail</label>

													<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
												</div>
											</div>

											<div class="d-flex flex-row align-items-center mb-4">
												<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
												<div class="form-outline flex-fill mb-0">
													<label class="form-label" for="inputPassword">Mot de passe</label>

													<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
												</div>
											</div>

											<div class="form-check d-flex justify-content-center mb-5">
												<input class="form-check-input me-2" type="checkbox" name="_remember_me" id="rememberMe">
												<label class="form-check-label" for="rememberMe">
													Se souvenir de moi
												</label>
											</div>
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

											<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
												<button type="submit" class="btn btn-primary btn-lg">Se connecter</button>
											</div>
										</form>
									</div>

								</div>
								<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 p-0">
									<img src="{{asset('assets/img/connexion.jpeg')}}" class="img-fluid" alt="Sample image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

