{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
{% endblock %}

{% block body %}
	<h1>Trouve mon lieu</h1>

	<div class="round-info">
		<p>Round
			{{ round }}
			sur
			{{ totalRounds }}</p>
	</div>
	<div id="timer">Temps restant :
		<span id="time">120</span>
		secondes</div>


	<div id="pano" class="panorama"></div>
	<div id="map" class="map"></div>

	<form id="guessForm" action="{{ path('game_check_answer', {'game': game.id, 'round': round}) }}" method="post" data-city-id="{{ city.id }}">
		<input type="hidden" name="cityId" value="{{ city.id }}">
		<input type="hidden" name="latitude" id="guessLatitude">
		<input type="hidden" name="longitude" id="guessLongitude">
		<button type="submit">Soumettre</button>
	</form>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="https://maps.googleapis.com/maps/api/js?key={{ app.request.server.get('GOOGLE_MAPS_API_KEY') }}&callback=initMap" async defer></script>
	<script>
		var cityData = {
latitude: {{ city.latitude }},
longitude: {{ city.longitude }}
};
	</script>
	<script src="{{ asset('assets/js/app.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
				var timeLeft = 120; // Temps initial en secondes
				var timerElement = document.getElementById('time');
				var gameForm = document.getElementById('guessForm');

				var timerInterval = setInterval(function() {
						timeLeft--;
						timerElement.textContent = timeLeft;

						if (timeLeft <= 0) {
								clearInterval(timerInterval);
								// Soumettre automatiquement le formulaire lorsque le temps est écoulé
								gameForm.submit();
						}
				}, 1000);
		});
</script>
{% endblock %}

